/* styles.css */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url(background.gif);
    background-size: cover;
}

header {
    background-color: #72abff;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 10px solid #ffffff;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #646464;
}

a:hover {
    color: #b5b5b5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #72abff;
    color: #fff;
    padding: 10px;
    clear: both;
    text-align: center;
    border-top: 10px solid #ffffff;
  }